.orange {
    color: orange;
}

.heading {
    font-size: 64px;
    font-family: "Oswald";
}

.page2-container {
    font-family: "Inter";
}


git remote set-url origin https://github.com/arpit353/React_Assignment.git