.icons {
  margin-right: 5px; /* Adjust spacing between icons */
  margin-top: 10px;
  margin-left: 12px;
  width: 20px;
  height: 20px;
  align-items: center;
}

.footer {
  background-color: #000000;
  padding-top: 0%;
  padding-bottom: 2%;
}

.footer-column {
  border-right: 1px solid #ccc;
  color: white;
  margin-left: 30px;
}

.footer-column:last-child {
  border-right: none;
}

.footer-column h5 {
  font-size: 16px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 10px;
}

.logo {
  width: 127px;
  height: 78px;
}

.footer-column .icon {
  margin-right: 10px;
  font-size: 20px;
}

.ul-image {
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically */
  padding: 0; /* Remove default padding */
  list-style: none; /* Remove default list styles */
}

.ul-image li{
  display: inline-block;
}

.row-footer {
  padding-top: 50px;
}
