@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


.page3{
    background-color: #112C41;
    color:#FFFFFF;
}

.heading2{
    color:#F36F2B;
}

#head{
    height: 505px;
    width: 180px;
    font-family: 'Oswald', sans-serif;
    font-weight: 64;
}

#para{
    height: 734px;
    width: 556px;
    color: #FFFFFF;
}

.para_color{
    color: white;
    font-weight: 200;
    font-size: small;
}

.image3{
    width: 1200px;
}

.container-margin{
  margin-left: 81.5px;
  margin-right: 81.5px;
}

.container-nomargin{
   margin-left: 0px;
   margin-right: 0px;
}
