@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


.page3{
    background-color: #112C41;
    color:#FFFFFF;
}

.heading1 {
    font-family: 'Oswald';
    font-size: 64px;
}

.heading2{
    color:#F36F2B;
}

#head{
    height: 505px;
    width: 180px;
    font-family: 'Oswald', sans-serif;
    font-weight: 64;
}

#para{
    height: 400px;
    width: 300px;
    color: #FFFFFF;
}

.para_color{
    color: white;
    font-weight: 200;
    font-size: 24px;
}

.image3{
    width: 1200px;
    margin-top: 0px;
}

.container-margin{
  margin-left: 81.5px;
  margin-right: 81.5px;
}

.container-nomargin{
   margin-left: 0px;
   margin-right: 0px;
   padding-top: 100px;
}

.row-format {
    padding-top: 150px;
}